In [ ]:
# Dependencies
import pandas as pd
import re

# Load the CSV file into a DataFrame
df = pd.read_csv('Data/Characters.csv', sep=';')

# Extract the 'Birth' column
birth_dates = df['Birth']

# Display the birth dates
print(birth_dates)

0                                       31 July 1980
1                                       1 March 1980
2                                 19 September, 1979
3                                   Late August 1881
4                                    6 December 1928
5                                      30 July, 1980
6                                     1 April, 1978
7                                     1 April, 1978
8                                    11 August, 1981
9                   1 September 1979- 31 August 1980
10                  1 September 1979- 31 August 1981
11                                 30 January, 1960
12                                    27 March, 1960
13                                  3 November, 1959
14                                    10 March, 1960
15                  1 September 1959- 31 August 1960
16                                  22 August, 1976
17                                 29 November, 1970
18                                 12 December, 1972
19                  1 September 1977- 31 August 1978
20                     October 1975 - 31 August 1976
21                             24 – 30 October, 1977
22                  1 September 1978- 31 August 1979
23                  1 September 1977- 31 August 1978
24                  1 September 1979- 31 August 1980
25                   1 September 1979- 21 April 1980
26                  1 September 1981- 31 August 1982
27                            3 May - 31 August 1981
28                  1 September 1978- 31 August 1979
29                                         4 October
30                                 30 October, 1949
31                                  6 February, 1950
32                      26 September,1970 or earlier
33                   1 September 1978-31 August 1979
34                                 13 February, 1981
35                                   26 January 1964
36                       17 October 1958 or earlier
37                            9 March prior to 1962
38                            25 September, pre 1908
39                        14 June 1928 -13 June 1929
40                  1 September 1979 - 21 April 1980
41                 1 September 1979 - 31 August 1980
42                                         1978-1979
43                   1 September 1979- 21 April 1980
44                  1 September 1979- 31 August 1980
45                                    9 January 1960
46                                      5 June, 1980
47                                      c. 1979-1980
48                   1 September 1979-31 August 1980
49                                              1951
50                                         26 August
51                                          28 April
52                                           c. 1954
53                                              1955
54                                              1961
55                  1 September 1979- 31 August 1980
56                1 September, 1979 – 21 April, 1980
57                                  31 December 1926
58                1 September, 1979 – 21 April, 1980
59                                          Pre 1964
60                 1 September 1979- 31 August 1980
61                             In or prior to c.1981
62                                          Post 982
63                  1 September 1975- 31 August 1976
64                  1 September 1975- 31 August 1976
65                  1 September 1977- 31 August 1978
66                 1 September 1978 - 31 August 1979
67                                           Pre 976
68                                           Pre 976
69                                           Pre 976
70                                        1401 -1475
71                                               NaN
72                                              1962
73                                       Before 1976
74                                               NaN
75                                          Pre 1981
76                                          Pre 1982
77                                           Pre 976
78                                      10th century
79                                          Post 982
80                  1 September 1972- 31 August 1973
81                                            15 May
82                                  24 February 1897
83                     1 September - 30 October 1977
84                  1 September 1979- 31 August 1980
85                     1 September 1979 - 2 May 1981
86                 1 September 1979 - 31 August 1980
87                    21 April 1980 - 31 August 1980
88                 1 September 1979 - 31 August 1980
89                                In or before 1970s
90                                          pre 1964
91                                          pre 1950
92                                         Pre 1970s
93                                          pre 1965
94                                          Pre 1973
95                                          Pre 1960
96                                               NaN
97      1 September 1957 - 31 August 1959 or earlier
98                                          Pre 1968
99                                          Pre 1964
100                                         Pre 1940
101                                              NaN
102                                         Pre 1964
103                1 September 1880 - 31 August 1881
104                             Pre 30 October, 1977
105                  1 September 1883-31 August 1884
106                                      Before 1962
107              8 September 1956 - 7 September 1957
108                                         Pre 1978
109                                              NaN
110                                              NaN
111                                              NaN
112                                         pre 1964
113                                              NaN
114                                              NaN
115                                              NaN
116                                              NaN
117                      31 July 1985 - 30 July 1986
118                               April-August, 1976
119                                         Pre 1960
120                                         Pre 1954
121                                     23 June 1980
122                                         Pre 1954
123                1 September 1982 - 31 August 1983
124          Between 1 September 2005-31 August 2006
125          Between 1 September 2005-31 August 2007
126                                      April, 1998
127                  1 September 2003-31 August 2004
128                 1 September 2005-31 August 2006
129                                         Pre 1951
130                                         pre 1954
131                                         pre 1918
132                                         Pre 1966
133                                         Pre 1968
134                                      Before 1974
135                                              NaN
136                                         Pre 1945
137                                             1883
138                                          28 June
139                                              NaN
Name: Birth, dtype: object

In [3]:
def extract_month_year(date_str):
    # Regular expression to find month and year
    month_pattern = r'(\b\w+\b)'
    year_pattern = r'(\d{4})'
    
    # Extract month
    month_match = re.findall(month_pattern, date_str)
    month = month_match[0] if month_match else None
    
    # Extract year
    year_match = re.findall(year_pattern, date_str)
    year = year_match[-1] if year_match else None  # Get the last match for year
    
    return pd.Series([month, year])

# Apply the function to the Birth column
df[['Month', 'Year']] = df['Birth'].apply(extract_month_year)

# Display the cleaned DataFrame
print(df[['Birth', 'Month', 'Year']])

NameError: name 're' is not defined