In [2]:
import pandas as pd
from sqlalchemy import create_engine
# !pip install psycopg2

# Connection string (replace with your actual credentials)
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = '5432'
database = 'hp_db'

# Create connection string and engine
connection_string = f'postgresql://{username}:{password}@{host}:{port}/{database}'
engine = create_engine(connection_string)

# Define your SQL query
sql_query = 'SELECT * FROM house'  # Replace with your query

# Use Pandas to execute the SQL query and return the result as a DataFrame
house_df = pd.read_sql(sql_query, engine)

# Display the DataFrame
house_df

,house_id,founder,mascot,colors,common_room
0,Gryffindor,Godric Gryffindor,lion,Scarlet and gold,Gryffindor Tower
1,Hufflepuff,Helga Hufflepuff,badger,Yellow and black,Hufflepuff Basement
2,Ravenclaw,Rowena Ravenclaw,eagle,Blue and bronze,Ravenclaw Tower
3,Slytherin,Salazar Slytherin,snake,Green and silver,Slytherin Dungeon

In [3]:
import pandas as pd
from sqlalchemy import create_engine
# !pip install psycopg2

# Connection string (replace with your actual credentials)
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = '5432'
database = 'hp_db'

# Create connection string and engine
connection_string = f'postgresql://{username}:{password}@{host}:{port}/{database}'
engine = create_engine(connection_string)

# Define your SQL query
sql_query = 'SELECT * FROM characters'  # Replace with your query

# Use Pandas to execute the SQL query and return the result as a DataFrame
characters_df = pd.read_sql(sql_query, engine)

# Display the DataFrame
characters_df

,id,name,gender,house,wand,patronus,blood_status,birthdate
0,1,Harry James Potter,Male,Gryffindor,11 Holly phoenix feather,Stag,Half-blood,July 1980
1,2,Ronald Bilius Weasley,Male,Gryffindor,12 Ash unicorn tail hair,Jack Russell terrier,Pure-blood,March 1980
2,3,Hermione Jean Granger,Female,Gryffindor,10¾ vine wood dragon heartstring,Otter,Muggle-born,September 1979
3,4,Albus Percival Wulfric Brian Dumbledore,Male,Gryffindor,15 Elder Thestral tail hair core,Phoenix,Half-blood,August 1881
4,5,Rubeus Hagrid,Male,Gryffindor,16 Oak unknown core,None,Part-Human (Half-giant),December 1928
...,...,...,...,...,...,...,...,...
135,136,Wilhelmina Grubbly-Plank,Female,None,Unknown,Non-corporeal,None,None
136,137,Fenrir Greyback,Male,None,Unknown,None,None,None
137,138,Gellert Grindelwald,Male,None,"15, Elder, Thestral tail hair core",None,Pure-blood or half-blood,None
138,139,Dobby,Male,None,None,None,None,June None
139,140,Kreacher,Male,None,None,None,None,None

In [8]:
print(characters_df.columns)

Index(['id', 'name', 'gender', 'house', 'wand', 'patronus', 'blood_status',
       'birthdate'],
      dtype='object')

In [11]:
gender_counts = characters_df['gender'].value_counts()
gender_counts.columns = ['gender', 'count']
gender_counts

gender
Male      90
Female    49
Name: count, dtype: int64

In [6]:
query = "SELECT * FROM house;"
house = pd.read_sql(query, engine)
house

,house_id,founder,mascot,colors,common_room
0,Gryffindor,Godric Gryffindor,lion,Scarlet and gold,Gryffindor Tower
1,Hufflepuff,Helga Hufflepuff,badger,Yellow and black,Hufflepuff Basement
2,Ravenclaw,Rowena Ravenclaw,eagle,Blue and bronze,Ravenclaw Tower
3,Slytherin,Salazar Slytherin,snake,Green and silver,Slytherin Dungeon

In [7]:
# Query to find the common room for Molly Weasley's house
query = """
SELECT c.name, h.common_room
FROM house h
JOIN characters c ON h.house_id = c.house
WHERE c.name = 'Molly Weasley';
"""

# Run the query using the engine
common_room = pd.read_sql(query, engine)

# Display the result
common_room

            name       common_room
0  Molly Weasley  Gryffindor Tower